

.hide {
	display: none !important;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    font-weight: bold;
}

#userForm {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.userInput {
    width: 40%;
    padding: 1%;
    border-radius: 20px;
    border: 2px solid black;
}

.start-btn {
    width: 20%;
    background-color: brown;
    border: 2px solid black;
    border-radius: 20px;
}

.virus-buster-img {
    width: 40%;
    height: 40%;
}

.waitForOpponent {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.game {
	height: 100vh;
	width: 100vw;
}

.scoreboard-color {
	background-color:  brown;
	color: white;
}

.scoreBoard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 80vh;
}

.box {
	height: 21%;
	width: 21%;
}

.virus {
	background-image: url('../icons/corona-virus.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

#areYouReady {
	height: 100%;
	background-color: rgba(100,100,100,0.3);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 10px;
}

