#app,
    #game-wrapper {
        height: 100vh;
        width: 100vw;
    }
    
    #app {
        background-color: aliceblue;
    }
    
    #game-wrapper {
        display: flex;
    }
    
    #game {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-right: 1px solid #555;
    }
    
    #game h2 {
        background-color: rgb(70, 156, 84);
        padding: 0.5rem 0.75rem;
        color: white;
    }
    
    #users {
        flex-basis: 20%;
    }
    
    #users h2 {
        background-color: rgb(70, 156, 84);
        padding: 0.5rem 0.75rem;
        color: white;
    }

.container {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px;
    border: 2px solid pink;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));



    /*padding: 5%; */
}

#virus-icon {
    width: 45px;
    height: 45px;
    grid-column-start: 4;
    grid-row-start: 4;
    margin: auto;
}